## ~/.gitignore
## git ignore Personal Preference File @tearoom6

# Mac OS X meta file
.DS_Store

# ctags file
tags

# vim files
/.vim/.netrwhist
/.vim/view/
/.vim/dein/

# ssh files
/.ssh/known_hosts
/.ssh/conf.d/
/.ssh/.secrets/

# Atom files
/.atom/

