# ~/.my.cnf

[mysql]
default-character-set = utf8
prompt="\u@\h[\d]> "
show_warnings
auto-rehash

[client]
port = 3306
#socket = /tmp/mysql.sock
default-character-set = utf8

[mysqld]
port = 3306
#socket = /tmp/mysql.sock
character-set-server = utf8
default-storage-engine = InnoDB
innodb_file_format = Barracuda
general_log = ON
general_log_file = /usr/local/mysql/data/mysqld.log
slow_query_log = ON
slow_query_log_file = /usr/local/mysql/data/mysqld-slow.log
long_query_time = 1
log-queries-not-using-indexes = ON

