# ~/.my.cnf
# mysql Personal Preference File @tearoom6

[mysql]
default-character-set = utf8mb4
prompt="(mysql\\v)\\h:\\p \\u@\\d\n> "
show_warnings
auto-rehash

[client]
port = 3306
#socket = /tmp/mysql.sock
loose-default-character-set = utf8mb4

