"*":
  core:
    disabledPackages: [
      "markdown-preview"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "f3011064-0f62-417b-9852-6cbb6ffe4b30"
  "linter-ui-default": {}
  "markdown-preview-plus":
    mathConfig:
      enableLatexRenderingByDefault: true
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  s3uploader:
    s3BucketCustomUrl: "http://files.tearoom6.biz"
    s3BucketName: "files.tearoom6.biz"
  "sync-sync": {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
